{% extends 'base.html' %}
{% block title %}
<title>BestSolution</title>
{% endblock %}
{% block contian %}
<div class="row my-3 ">
    <div class="col-12">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h4 class="card-title">Best Solution </h4>
                <!-- <p class="card-text">{{metricmodel}}</p>
              <p class="card-text">{{header_row_N}}</p>
              {% for m in header_row_N %}
              <p>{{m}}</p>
              {% endfor %}
              {% for row in metricmodel %}
                <p>{{row}}</p>
                {% for m in row %}
                    <p>{{m}}</p>
                {% endfor %}
              {% endfor %}
            </div>
            <div class="row">
                {% for m in header_row_N %}
                <p class="col-1">{{m}}</p>
                {% endfor %}
            </div> -->

                <div class="row">
                    <div class="col-3">
                        <h5>Logger : 10</h5>
                        <h5>VM : 8</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Security</th>
                                    <th>Performance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>User1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>User2</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>User3</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>User4</td>
                                    <td>5</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>User5</td>
                                    <td>5</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>User6</td>
                                    <td>5</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>User7</td>
                                    <td>4</td>
                                    <td>2</td>
                                </tr>
                                    <tr>
                                    <td>8</td>
                                    <td>User8</td>
                                    <td>3</td>
                                    <td>3</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-1">

                    </div>
                    <div class="col-7">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>VM</th>
                                    {% for row in header_row_N %}
                                    <th>{{row}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in metricmodel %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    {% for m in row %}
                                        <td style="{% if m > 0 %} color: red; font-weight: bold; {% endif %}">{{m}}</td>
                                    {% endfor %}
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col-6 row">
                        <div class="col-4 py-3">
                            <h5>Number of VMs in Logger:</h5>
                        </div>
                        <div class="col">
                            <table class="table">
                                <thead>
                                    <tr>
                                        {% for row in header_row_N %}
                                        <th>{{row}}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in loggerSum %}
                                    <tr>
    
                                        {% for m in row %}
                                        <td style="{% if m > 0 %} color: red; font-weight: bold; {% endif %}">{{m}}</td>
                                        {% endfor %}
                                    </tr>
    
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                       
                    </div>

                </div>
                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col">
                        <h5>Number of free Logger : {{obj_max}}</h5>
                        <h5>Penalty Values : {{penalty}}</h5>
                        <h5>Total : {{total}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {% endblock %}